ShardsofRoh/ProjectSettings/
ShardsofRoh/Library/
ShardsofRoh/Build_Data/
ShardsofRoh/Shards of Roh.userprefs
ShardsofRoh/Temp/
ShardsofRoh/Assembly-CSharp.csproj
ShardsofRoh/Assets/ExternalAssets
ShardsofRoh/Assets/Resources