Shards of Roh/ProjectSettings/
Shards of Roh/Library/
Shards of Roh/Build_Data/
Shards of Roh/Shards of Roh.userprefs
Shards of Roh/Temp/
Shards of Roh/Assembly-CSharp.csproj
Shards of Roh/Assets/ExternalAssets
Shards of Roh/Assets/Resources